<main>

  <h3> Data Size Conversor </h3>

  <section>

    <div>

      <span>Bit</span>
      <input type="number" [(ngModel)]="bit" (click)="resetOthers(byte,kilo,mega,giga,tera,peta)">

      <span>Byte</span>
      <input type="number" [(ngModel)]="byte" (click)="resetOthers(bit,kilo,mega,giga,tera,peta)">

      <span>Kilobyte</span>
      <input type="number" [(ngModel)]="kilo" (click)="resetOthers(bit,byte,mega,giga,tera,peta)">

      <span>Megabyte</span>
      <input type="number" [(ngModel)]="mega" (click)="resetOthers(bit,byte,kilo,giga,tera,peta)">

      <span>Gigabyte</span>
      <input type="number" [(ngModel)]="giga" (click)="resetOthers(bit,byte,kilo,mega,tera,peta)">

      <span>Terabyte</span>
      <input type="number" [(ngModel)]="tera" (click)="resetOthers(bit,byte,kilo,mega,giga,peta)">

      <span>Petabyte</span>
      <input type="number" [(ngModel)]="peta" (click)="resetOthers(bit,byte,kilo,mega,giga,tera)">

    </div>

    <div>

      <span>Bit</span>
      <span>{{bit}} {{byteBit()}} {{kiloBit()}} {{megaBit()}} {{gigaBit()}} {{teraBit()}} {{petaBit()}} </span>

      <span>Byte</span>
      <span>{{byte}} {{bitByte()}} {{kiloByte()}} {{megaByte()}} {{gigaByte()}} {{teraByte()}} {{petaByte()}} </span>

      <span>Kilobyte</span>
      <span>{{kilo}} {{bitKilo()}} {{byteKilo()}} {{megaKilo()}} {{gigaKilo()}} {{teraKilo()}} {{petaKilo()}} </span>

      <span>Megabyte</span>
      <span>{{mega}} {{bitMega()}} {{byteMega()}} {{kiloMega()}} {{gigaMega()}} {{teraMega()}} {{petaMega()}} </span>

      <span>Gigabyte</span>
      <span>{{giga}} {{bitGiga()}} {{byteGiga()}} {{kiloGiga()}} {{megaGiga()}} {{teraGiga()}} {{petaGiga()}} </span>

      <span>Terabyte</span>
      <span>{{tera}} {{bitTera()}} {{byteTera()}} {{kiloTera()}} {{megaTera()}} {{gigaTera()}} {{petaTera()}} </span>

      <span>Petabyte</span>
      <span>{{peta}} {{bitPeta()}} {{bytePeta()}} {{kiloPeta()}} {{megaPeta()}} {{gigaPeta()}} {{teraPeta()}} </span>

    </div>

  </section>

</main>
