<main>

  <div>
    <app-back-button></app-back-button>
    <h3>
      {{pickSvce.picker('Temperature Conversor','Conversor de Temperatura')}}
    </h3>
  </div>

  <section>

    <div>

      <div class="sideA">
        <span class="inp-span">Celcius</span>
        <input class="inp inp-span" type="number" [(ngModel)]="c" (click)="resetOthers(f,k)">
      </div>

      <div class="sideA">
        <span class="inp-span">Fahrenheit</span>
        <input class="inp inp-span" type="number" [(ngModel)]="f" (click)="resetOthers(c,k)">
      </div>

      <div class="sideA">
        <span class="inp-span">Kelvin</span>
        <input class="inp inp-span" type="number" [(ngModel)]="k" (click)="resetOthers(c,f)">
      </div>

    </div>

=

    <div>

      <div class="sideB">
        <span class="res-span">Celcius</span>
        <span class="databinding res-span">{{c}} {{fC()}} {{kC()}} </span>
      </div>

      <div class="sideB">
        <span class="res-span">Fahrenheit</span>
        <span class="databinding res-span">{{f}} {{cF()}} {{kF()}} </span>
      </div>

      <div class="sideB">
        <span class="res-span">Kelvin</span>
        <span class="databinding res-span">{{k}} {{cK()}} {{fK()}} </span>
      </div>

    </div>

  </section>

</main>
