<main>

  <div>
    <button routerLink="" class="backBtn"> Back </button>
    <h3> Length Conversor </h3>
  </div>

  <section>

    <div>

      <div class="sideA">
        <span class="inp-span">Kilometers</span>
        <input class="inp inp-span" type="number" [(ngModel)]="kilo" (click)="resetOthers(meter,centi,mile,yard,feet,inch)">
      </div>

      <div class="sideA">
        <span class="inp-span">Meters</span>
        <input class="inp inp-span" type="number" [(ngModel)]="meter" (click)="resetOthers(kilo,centi,mile,yard,feet,inch)">
      </div>

      <div class="sideA">
        <span class="inp-span">Centimeters</span>
        <input class="inp inp-span" type="number" [(ngModel)]="centi" (click)="resetOthers(kilo,meter,mile,yard,feet,inch)">
      </div>

      <div class="sideA">
        <span class="inp-span">Miles</span>
        <input class="inp inp-span" type="number" [(ngModel)]="mile" (click)="resetOthers(kilo,meter,centi,yard,feet,inch)">
      </div>

      <div class="sideA">
        <span class="inp-span">Yards</span>
        <input class="inp inp-span" type="number" [(ngModel)]="yard" (click)="resetOthers(kilo,meter,centi,mile,feet,inch)">
      </div>

      <div class="sideA">
        <span class="inp-span">Feets</span>
        <input class="inp inp-span" type="number" [(ngModel)]="feet" (click)="resetOthers(kilo,meter,centi,mile,yard,inch)">
      </div>

      <div class="sideA">
        <span class="inp-span">Inches</span>
        <input class="inp inp-span" type="number" [(ngModel)]="inch" (click)="resetOthers(kilo,meter,centi,mile,yard,feet)">
      </div>

    </div>

=

    <div>

      <div class="sideB">
        <span class="res-span">Kilometers</span>
        <span class="databinding res-span">{{kilo}} {{meterKilo()}} {{centiKilo()}} {{mileKilo()}} {{yardKilo()}} {{feetKilo()}} {{inchKilo()}} </span>
      </div>

      <div class="sideB">
        <span class="res-span">Meters</span>
        <span class="databinding res-span">{{meter}} {{kiloMeter()}} {{centiMeter()}} {{mileMeter()}} {{yardMeter()}} {{feetMeter()}} {{inchMeter()}} </span>
      </div>

      <div class="sideB">
        <span class="res-span">Centimeter</span>
        <span class="databinding res-span">{{centi}} {{kiloCenti()}} {{meterCenti()}} {{mileCenti()}} {{yardCenti()}} {{feetCenti()}} {{inchCenti()}} </span>
      </div>

      <div class="sideB">
        <span class="res-span">Miles</span>
        <span class="databinding res-span">{{mile}} {{kiloMile()}} {{meterMile()}} {{centiMile()}} {{yardMile()}} {{feetMile()}} {{inchMile()}} </span>
      </div>

      <div class="sideB">
        <span class="res-span">Yards</span>
        <span class="databinding res-span">{{yard}} {{kiloYard()}} {{meterYard()}} {{centiYard()}} {{mileYard()}} {{feetYard()}} {{inchYard()}} </span>
      </div>

      <div class="sideB">
        <span class="res-span">Feets</span>
        <span class="databinding res-span">{{feet}} {{kiloFeet()}} {{meterFeet()}} {{centiFeet()}} {{mileFeet()}} {{yardFeet()}} {{inchFeet()}} </span>
      </div>

      <div class="sideB">
        <span class="res-span">Inches</span>
        <span class="databinding res-span">{{inch}} {{kiloInch()}} {{meterInch()}} {{centiInch()}} {{mileInch()}} {{yardInch()}} {{feetInch()}} </span>
      </div>

    </div>

  </section>

</main>
