<main>

  <h3> Mass Conversor </h3>

  <section>

    <div>

      <span>Kilograms</span>
      <input type="number" [(ngModel)]="kg" (click)="resetOthers(g,pounds,tons)">

      <span>Grams</span>
      <input type="number" [(ngModel)]="g" (click)="resetOthers(kg,pounds,tons)">

      <span>Pounds</span>
      <input type="number" [(ngModel)]="pounds" (click)="resetOthers(kg,g,tons)">

      <span>Tons</span>
      <input type="number" [(ngModel)]="tons" (click)="resetOthers(kg,g,pounds)">

    </div>

    <div>

      <span>Kilograms</span>
      <span>{{kg}} {{gKg()}} {{poundKg()}} {{tonKg()}} </span>

      <span>Grams</span>
      <span>{{g}} {{kgGram()}} {{poundG()}} {{tonG()}} </span>

      <span>Pounds</span>
      <span>{{pounds}} {{kgPound()}} {{gPound()}} {{tonPound()}} </span>

      <span>Tons</span>
      <span>{{tons}} {{kgTon()}} {{gTon()}} {{poundTon()}} </span>

    </div>

  </section>

</main>
