<main>

  <div>
    <app-back-button></app-back-button>
    <h3>
      {{pickSvce.picker('Speed Conversor','Conversor de Velocidad')}}
    </h3>
  </div>

  <section>

    <div>

      <div class="sideA">
        <!-- <span class="inp-span">{{kphWithS()}}</span> -->
        <span class="inp-span">
          {{pickSvce.picker('Kilometers per Hour:','Kilómetros por Hora:')}}
        </span>
        <input class="inp inp-span" type="number" [(ngModel)]="kph" (click)="resetOthers(m,k)">
      </div>

      <div class="sideA">
        <!-- <span class="inp-span">{{mphWithS()}}</span> -->
        <span class="inp-span">
          {{pickSvce.picker('Miles per Hour:','Millas por Hora:')}}
        </span>
        <input class="inp inp-span" type="number" [(ngModel)]="m" (click)="resetOthers(kph,k)">
      </div>

      <div class="sideA">
        <span class="inp-span">
          {{pickSvce.picker('Knots:','Nudos:')}}
        </span>
        <input class="inp inp-span" type="number" [(ngModel)]="k" (click)="resetOthers(kph,m)">
      </div>

    </div>

=

    <div>

      <div class="sideB">
        <span class="res-span">
          {{pickSvce.picker('Kilometers per Hour:','Kilómetros por Hora:')}}
        </span>
        <span class="databinding res-span">{{kph}} {{mKph()}} {{kKph()}} </span>
      </div>

      <div class="sideB">
        <span class="res-span">
          {{pickSvce.picker('Miles per Hour:','Millas por Hora:')}}
        </span>
        <span class="databinding res-span">{{m}} {{kphM()}} {{kM()}} </span>
      </div>

      <div class="sideB">
        <span class="res-span">
          {{pickSvce.picker('Knots:','Nudos:')}}
        </span>
        <span class="databinding res-span">{{k}} {{kphK()}} {{mK()}} </span>
      </div>

    </div>

  </section>

</main>
