* {
  color: #fff;
}

body {
  // color
  background-color: #1c1c1c;
}

button {
  // color
  background-color: inherit;

  // design
  border: none;
  cursor: pointer;

  // structure
}

section {

  // structure
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
